<div class="container pt-2">
  <ng-container *ngIf="skolskiSat !== null">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-1by1">
              <img [src]="'./assets/' + skolskiSat?.image" [alt]="skolskiSat?.poruka.kratkaPoruka">
            </figure>
          </div>

          <div class="card-content">
            <div class="media">
              <div class="media-content has-text-centered">
                <p *ngIf="skolskiSat?.smjena === 'jutarnja' || skolskiSat?.smjena === 'popodnevna'" class="heading is-6">{{skolskiSat?.smjena}} NASTAVA</p>
                <p *ngIf="skolskiSat?.smjena === 'vikend' || skolskiSat?.smjena === 'van'" class="heading is-6">{{skolskiSat?.poruka.dugaPoruka}}</p>
                <p class="title is-3">{{skolskiSat?.poruka.kratkaPoruka}}</p>
              </div>
            </div>
            <div class="level mt-5">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Vrijeme sada</p>
                  <p class="title is-5">
                    {{vrijemeSada?.getHours() | number: '2.0'}}:{{vrijemeSada?.getMinutes() | number: '2.0'}}:{{vrijemeSada?.getSeconds() | number: '2.0'}}
                  </p>
                  <p class="heading mt-2">SATI</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Prošlo</p>
                  <p class="title is-5">{{skolskiSat?.odPocetka}}</p>
                  <p class="heading mt-2">min.</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Još</p>
                  <p class="title is-5">{{skolskiSat?.doKraja}}</p>
                  <p class="heading mt-2">min.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="heading is-6">V1.0 by SD</h6>
      </div>
      <div class="column"></div>
    </div>
  </ng-container>
</div>
